body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #707070;
    background-color: #1c1c1c;

}

.messenger-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 900px;
}

/* Стили списка пользователей */

.messenger-users {
    width: 200px;
    max-width: 300px;
    border: 1px solid #000000;
    border-radius: 8px;
    border-color: #535353;
    padding: 15px 8px;
    background-color: #221a1a;
    margin-right: 10px;
    overflow: auto;

}

.messenger-users__user {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
}

.messenger-users__user:last-child {
    margin-bottom: 0px;
}

.messenger-users__user-image {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-image: url('../png/user.png');
    background-size: cover;
    margin-right: 10px;
}

/* Стили мессенджера */

/* Сообщения */

.messenger {
    width: 600px;
    border-radius: 5px;
    border: 1px solid #21062d;
    border-radius: 5px;
    border-color: #535353;
    background-color: #221a1a;
    padding: 15px;
}

.messenger__messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    padding: 15px;
    height: 600px;

}

.messenger__messages::-webkit-scrollbar {
    width: 5px;
}

.messenger__messages::-webkit-scrollbar-thumb {
    background: linear-gradient(0, #41004f, #532248);
    border-radius: 3px;
}

.messenger__message {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 60%;
    color: #c8c8c8;
    white-space: normal;
}

.messenger__you-message {
    align-self: flex-end;
    background: linear-gradient(210deg, #27002f, #532248);
}

.messenger__other-message {
    background: linear-gradient(30deg, #27002f, #532248);
}

/* Форма отправки сообщений */

.messenger__new-message-form {
    padding-top: 15px;
    background-color: inherit;
}

.messenger__new-message-textarea {
    width: calc(100% - 30px);
    height: 100px;
    resize: none;
    background: linear-gradient(200deg, #41004f, #220c1d);
    color: #c8c8c8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    border-radius: 5px;
}

.messenger__new-message-textarea:focus {
    outline: none;
}